<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DriveWise"
        tools:targetApi="31">

        <!-- Login Activity - Launcher -->
        <activity
            android:name=".ui.activity.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.DriveWise">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Register Activity -->
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:theme="@style/Theme.DriveWise" />

        <!-- Admin Home Activity -->
        <activity
            android:name=".ui.activity.AdminHomeActivity"
            android:theme="@style/Theme.DriveWise" />

        <!-- Client Home Activity -->
        <activity
            android:name=".ui.activity.ClientHomeActivity"
            android:theme="@style/Theme.DriveWise" />

        <!-- Posts List Activity -->
        <activity
            android:name=".ui.activity.PostsListActivity"
            android:theme="@style/Theme.DriveWise" />

        <!-- Post Details Activity -->
        <activity
            android:name=".ui.activity.PostDetailsActivity"
            android:theme="@style/Theme.DriveWise"
            android:parentActivityName=".ui.activity.PostsListActivity" />

        <!-- Create Post Activity -->
        <activity
            android:name=".ui.activity.CreatePostActivity"
            android:theme="@style/Theme.DriveWise"
            android:parentActivityName=".ui.activity.PostsListActivity" />

        <!-- Manage Cars Activity -->
        <activity
            android:name=".ui.activity.ManageCarsActivity"
            android:theme="@style/Theme.DriveWise"
            android:parentActivityName=".ui.activity.AdminHomeActivity" />

        <!-- Add/Edit Car Activity -->
        <activity
            android:name=".ui.activity.AddEditCarActivity"
            android:theme="@style/Theme.DriveWise"
            android:parentActivityName=".ui.activity.ManageCarsActivity" />

        <!-- Manage Bookings Activity -->
        <activity
            android:name=".ui.activity.ManageBookingsActivity"
            android:theme="@style/Theme.DriveWise"
            android:parentActivityName=".ui.activity.AdminHomeActivity" />

        <!-- Customer Profiles Activity -->
        <activity
            android:name=".ui.activity.CustomerProfilesActivity"
            android:theme="@style/Theme.DriveWise"
            android:parentActivityName=".ui.activity.AdminHomeActivity" />

        <!-- Car Photos Activity -->
        <activity
            android:name=".ui.activity.CarPhotosActivity"
            android:theme="@style/Theme.DriveWise"
            android:parentActivityName=".ui.activity.ManageBookingsActivity" />

        <!-- Document Viewer Activity -->
        <activity
            android:name=".ui.activity.DocumentViewerActivity"
            android:theme="@style/Theme.DriveWise"
            android:parentActivityName=".ui.activity.CustomerProfilesActivity" />

        <!-- Browse Cars Activity (for clients) -->
        <activity
            android:name=".ui.activity.BrowseCarsActivity"
            android:theme="@style/Theme.DriveWise"
            android:parentActivityName=".ui.activity.ClientHomeActivity" />

        <!-- Car Details Activity -->
        <activity
            android:name=".ui.activity.CarDetailsActivity"
            android:theme="@style/Theme.DriveWise"
            android:parentActivityName=".ui.activity.BrowseCarsActivity" />

        <!-- My Bookings Activity (for clients) -->
        <activity
            android:name=".ui.activity.MyBookingsActivity"
            android:theme="@style/Theme.DriveWise"
            android:parentActivityName=".ui.activity.ClientHomeActivity" />

        <!-- Booking Details Activity -->
        <activity
            android:name=".ui.activity.BookingDetailsActivity"
            android:theme="@style/Theme.DriveWise"
            android:parentActivityName=".ui.activity.MyBookingsActivity" />

        <!-- Upload Photos Activity (for car condition photos) -->
        <activity
            android:name=".ui.activity.UploadPhotosActivity"
            android:theme="@style/Theme.DriveWise"
            android:parentActivityName=".ui.activity.MyBookingsActivity" />

        <!-- My Profile Activity (for clients) -->
        <activity
            android:name=".ui.activity.MyProfileActivity"
            android:theme="@style/Theme.DriveWise"
            android:parentActivityName=".ui.activity.ClientHomeActivity" />

        <!-- Old MainActivity (can be removed later) -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.DriveWise" />
    </application>

</manifest>